/* 
    EN ESTA HOJA ENCONTRARAS TODOS LOS ESTILOS QUE COMPARTAN LOS 
    DIFERENTES COMPONENTES DEBIDAMENTE NOMBRADOS Y EN EL ORDEN
    DE LA APLICACION
*/

* { /* <----- FORMATEO GENERAL ----- */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /* ------ FIN -----> */
